footer {
    background-color: $dark-color;
    width: 100%;
    min-height: 200px;
    padding-top: 25px;

    .title {
        color: white;
        text-align: center;
    }

    .social {
       

        .social-icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: white;
            
            a:any-link {
                color: white;
                margin: 0px 10px;
            }
        }
    }
}