section.home {
    height: 100vh;
    width: 100%;
    
    background-image: url('/img/pot.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;

    padding: 0;

    .overlay {
        height: 100%;
        width: 100%;
        background-color: rgba($color: white, $alpha: .4);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .logo {
            max-width: 25vmax;
        }

        .buttons {
            // background-color: rgba($color: white, $alpha: .5);
            // height: 200px;
            // width: 100%;
            margin-top: 80px;

            button {
                border-radius: 5px;
            }
        }
    }

}