section.home {
    height: 100vh;
    width: 100%;
    
    background-image: url('/img/eco.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;

    padding: 0;

    .overlay {
        height: 100%;
        width: 100%;
        background-color: rgba($color: #34495e, $alpha: .4);

        align-items: center;
        margin: 0;

        .divider-vert {
            height: 75vh;
        }

        .divider {
            width: 75%;
            margin: 0 auto;
        }

        .slogan {
            color: white;
            text-align: center;
        }

        .logo {
            width: 25vmax;
        }
    }

    .donate-button {
        margin: 0 auto;
        width: 40%;

        a {
            width: 100%;
            font-size: 1.5em;
            border-radius: 5px;
            height: 46px;
            line-height: 30px;
        }
    }

    #mc_embed_signup {
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 100px;
        
        &_scroll {
            text-align: center;
        }

        .email-wrapper {
            display: flex;
            flex-direction: row;
        }

        .email {
            margin: 0 auto;
            text-align: center;
            background-color: white;
            height: 46px;
        }

        .button {
            margin-left: 10px;
            background-color: rgba($color: white, $alpha: .3);
            padding: 10px 20px;
            color: white;
        }

    }

}